<div id="">
   <table class="">
     <th>Post ID</th>
     <th>User ID</th>
     <th>Car ID</th>
     <th>Dealer ID</th>
     <th>Price Paid</th>
     <th>Description</th>
     
    <% @post.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.user.username %></td>
        <td><%= p.car.name %></td>
        <td><%= p.dealer.name %></td>
        <td><%= p.price_paid %></td>
        <td><%= p.description %></td>
      </tr>
    <% end %>
   </table>
</div>

