<h1>Search Results</h1>

<div>
	<p>
		<% if @make_searched_for && @car_searched_for %>
 		You searched for "<%= @make_searched_for.name + " " + @car_searched_for.name %>".
		<% end %>
		<% if @posts %>
		Found <%= @posts.size %> posts.
		<% else %>
		Found 0 posts.
		<% end %>
	</p>
</div>

<!-- <% form_tag posts_path, :method => 'get' do %>
	<%= text_field_tag :location, params[:location] %>
	<%= submit_tag "Search", :name => nil %>
<% end %> -->

<div id="">
	<table class="posts">
		<th>Post ID</th>
		<th>User</th>
		<th>Car</th>
		<th>Dealer</th>
		<th>Price Paid</th>
		<th>Date Posted</th>		
     <!-- <th>Description</th> -->
     
	<% if @posts %>
    <% @posts.each do |p| %>
      <tr>
        <td><%= link_to p.id, p %></td>
        <td><%= p.user.username %></td>
        <td><%= p.year.to_s + " " + p.car.make.name + " " + p.car.name %></td>
        <td><%= p.dealer.name + ", " + p.dealer.address + ", " + p.dealer.city + " " + p.dealer.province %></td>
        <td>$<%= p.price_paid %></td>
				<td><%= p.created_at %></td>
      </tr>
    <% end %>
	<% end %>
   </table>
</div>