<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  var geocoder;
  var map;
$(document).ready( function(){
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var myOptions = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  document.ready

});
//]]>
</script>
<h1 onclick="initialize()">Search Results</h1>

<div>
	<p>
		<% if @make_searched_for && @car_searched_for %>
 		You searched for "<%= @make_searched_for.name + " " + @car_searched_for.name %>".
		<% end %>
		<% if @posts %>
		Found <%= @posts.size %> posts.
		<% else %>
		Found 0 posts.
		<% end %>
	</p>
</div>

<!-- <% form_tag posts_path, :method => 'get' do %>
	<%= text_field_tag :location, params[:location] %>
	<%= submit_tag "Search", :name => nil %>
<% end %> -->

     <div id="map_canvas"></div>
      <div>
        <input id="address" type="textbox" value="Sydney, NSW">
        <input type="button" value="Encode" onclick="codeAddress()">
      </div>
<div id="">
	<table class="posts">
		<th>Post ID</th>
		<th>User</th>
		<th>Car</th>
		<th>Dealer</th>
		<th>Price Paid</th>
		<th>Date Posted</th>		
     <!-- <th>Description</th> -->

	<% if @posts %>
    <% @posts.each do |p| %>
      <tr>
        <td><%= link_to p.id, p %></td>
        <td><%= p.user.username %></td>
        <td><%= p.year.to_s + " " + p.car.make.name + " " + p.car.name %></td>
        <td><%= p.dealer.name + ", " + p.dealer.address + ", " + p.dealer.city + " " + p.dealer.province %></td>
        <td>$<%= p.price_paid %></td>
				<td><%= p.created_at %></td>
      </tr>
    <% end %>
	<% end %>
   </table>
</div>
