<script type="text/javascript">
    $(document).ready(function(){
        $("select#car_make_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") { 
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#car_id option").remove();
                // var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                // $(row).appendTo("select#car_id");
            }
            else {
                // Send the request and update sub category dropdown 
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/cars/for_makeid/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select 
                        $("select#car_id option").remove();
                        //put in a empty default line
                        // var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                        // $(row).appendTo("select#car_id");                        
                        // Fill sub category select 
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.id + "\">" + j.name + "</option>";   
                            $(row).appendTo("select#car_id");
                        });             
                     }
                });
            };
                });
    });
</script>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
  $(document).ready( function(){
      // initialize the map
    initialize();
    callServer();
    
    }
  );

//]]>
</script>
<h1>Search Results</h1>

<div>
	<% form_tag posts_path, :method => 'get' do %>

		<%= text_field_tag :location, @location_searched_for %>

		<select id="car_make_id" name="car_make_id">
			<%= options_from_collection_for_select(@makes, :id, :name, @car_searched_for.make_id) %>
		</select>
	
		<select id="car_id" name="car_id">
			<%= options_from_collection_for_select(@cars_searched_by_make_id, :id, :name, @car_searched_for.id) %>
		</select>

		<select id="radius" name="radius">
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="200">200</option>
		</select>
		<%= submit_tag "Search!", :name => nil %>
	<% end %>
	
	<p class="search_results_info">
		<% if @make_searched_for && @car_searched_for %>
	 		You searched for <b>"<%= @make_searched_for.name + " " + @car_searched_for.name %>"</b> within <b><%= params[:radius] %></b> kms of <b><%= @location_searched_for %></b>.
		<% end %>
		<% if @posts %>
			Found <%= @posts.size %>
			<% if @posts.size > 1 || @posts.size == 0 %>
				posts.
			<% else %>
				post.
			<% end %>
		<% else %>
			Found 0 posts.
		<% end %>
	</p>
</div>

<!-- <% form_tag posts_path, :method => 'get' do %>
	<%= text_field_tag :location, params[:location] %>
	<%= submit_tag "Search", :name => nil %>
<% end %> -->

     <div id="map_canvas"></div>
      <div>
        <input id="address" type="textbox" value="Sydney, NSW">
        <input type="button" value="Encode" onclick="codeAddress()">
      </div>
<div id="">
	<table class="posts">
		<th>Post ID</th>
		<th>User</th>
		<th>Car</th>
		<th>Dealer</th>
		<th>Price Paid</th>
		<th>Description</th>		
		<th>Date Posted</th>		
     <!-- <th>Description</th> -->

	<% if @posts %>
    <% @posts.each do |p| %>
      <tr>
        <td><%= link_to p.id, p %></td>
        <td><%= p.user.username %></td>
        <td><%= p.year.to_s + " " + p.car.make.name + " " + p.car.name %></td>
        <td><%= p.dealer.name + ", " + p.dealer.address + ", " + p.dealer.city + " " + p.dealer.province %></td>
        <td>$<%= p.price_paid %></td>
        <td><%= p.description %></td>
				<td><%= p.created_at %></td>

      </tr>
    <% end %>
	<% end %>
   </table>
</div>
