<%= javascript_include_tag "prototype" %>

<h1>New Post</h1>

<% form_for @post, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>
  <!-- <fieldset>
    <legend>New Post</legend> -->

		<!-- <p>
			<%= f.label :user_id, 'User_id (temporary)' %><br/>
			<%= f.text_field :user_id %>			
		</p> -->
		<%= hidden_field(:post, :user_id, :value => session[:user_id]) %>
		
		<p>
			<%= f.label :year, 'Year of Car' %>
			<%= f.text_field :year, :size => 10 %>
			
			<!-- <label for="car_make_id">Select a Car:</label> -->
			<select id="car_make_id" name="car_make_id">
				<option value="">Select a make</option>
				<%= options_from_collection_for_select(@makes, "id", "name") %>
			</select>

			<span id="car_id_list">
				<select id="post_car_id" name="post[car_id]"></select>
			</span>
		</p>
 
		<p>
			<%= f.label :dealer_id, 'Dealer Id (temporary)' %><br/>
			<%= f.text_field :dealer_id %>
		</p>
		
		<p>
			<%= f.label :price_paid, 'Price Paid' %><br/>
			<%= f.text_field :price_paid %>
		</p>
		
		<p>
			<%= f.label :description, 'Description/Comments' %><br/>
			<%= f.text_field :description, :rows => 5 %>
		</p>
		
		<p>
			<%= f.submit "Submit Post", :class => "submit" %>
		</p>

  <!-- </fieldset> -->
<% end %>
<%= observe_field("car_make_id", 
  # :frequency => 0.25,
  :update => "car_id_list",
  :url => {:controller => :posts, :action => :get_cars},
  :with => "'make_id='+value")
%>