<h1>View Post</h1>

<div class="view_post">
	<p>Post #<%= @post.id %> by <%= @user.username %> on <%= @post.created_at %>.</p>
	<div class="picture">
		Image goes here!
	</div>
	<h2>
		<%= @post.year.to_s + " " + @make.name + " " + @car.name %>
	</h2>
	<h2>
		<%= @dealer.name %><br/>
		<%= @dealer.address %>, <%= @dealer.city %><br/>
		<%= @dealer.province %>, <%= @dealer.zip %>
	</h2>
	<h2 class="price_paid">
		Price Paid: $<%= @post.price_paid %>
	</h3>
	<h2>
		<%= @user.username %> says...
	</h2>
	<div class="description">
		<p>
			<%= @post.description %>
		</p>		
	</div>
</div>