<!DOCTYPE html>
<html lang="pt-BR">
    <head>
      <title>Car Crowdsourcing - Team Omni (Alpha)</title>

        <meta charset="utf-8">
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <%= stylesheet_link_tag 'style', :media => 'all' %>
        <%= javascript_include_tag "jquery-1.4.2.min" %>
        <%= javascript_include_tag 'application' %>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <!--[if IE]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body >
			<div id="wrap">
      <header>
      <div id="banner">
          
        <h1 id=""><%= link_to "CarCrowdApp", '/' %>: Negotiated Car Price Listing</h1>
        <div class="main_link_wrapper">
		<% if session[:user_id] %>
		<%=	"You are logged in as " + @username + "." %>
		<%= link_to 'Logout', :controller => 'admin', :action => 'logout' %>
		<% else %>
        <%= link_to "Login", :controller => 'admin', :action => 'login' %>
        <%= link_to "Sign up", :controller => 'admin', :action => 'signup' %>
		<% end %>
		<%= link_to "Submit a Post", :controller => 'posts', :action => 'new' %>
        </div>
      </div>

      </header>

      <!-- <section id="main"> -->
      <div id="main_container">
      
        <% if flash[:notice] %>
         <div id="notice">
           <%= flash[:notice] %>
         </div>
        <% end %>

        <%= yield :layout %>

      </div>
      <!-- </section> -->

      <!-- <footer>
      </footer> -->
		</div>
		<div id="footer"> <!-- Footer outside wrap -->
			<div id="left">
				<h4>Footer Column One!</h4>
				<p>Blah blah blah.</p>
			</div>
			<div id="right">
				<h4>Footer Column Two!</h4>
				<p>Blah blah blah.</p>
			</div>
			</div>
		</div>
    </body>
</html>
